<div class="header_data">
  <div class="container">
    <div class="content">
      <form
        class="class-input-params"
        [formGroup]="dateForm"
        (ngSubmit)="onDate(dateForm.value)"
      >
        <div class="data">
          <p>Data Inicial:</p>
          <input type="date" id="ipt-ini" formControlName="dt_i" />
        </div>

        <div class="data">
          <p>Data Final:</p>
          <input type="date" id="ipt-fim" formControlName="dt_f" />
        </div>

        <button type="submit">Filtrar</button>
      </form>

      <form [formGroup]="Dadinho">
        <select
          formControlName="id"
          (change)="atualizar()"
          [(ngModel)]="selecao"
        >
          <option *ngFor="let dado of dados" ngValue="{{ dado.id }}">
            {{ dado.usuario }}
          </option>
        </select>
      </form>
    </div>
  </div>
</div>
