
.container{
  height: 100%;
  width: 100%;
  background: #ebebeb;
}

.container::after {
  content: "";
  height: 100%;
  width: 100vw;
  top: 10vh;
  position: absolute;
  z-index: 8;

  background: -moz-linear-gradient(
    to bottom,
    rgba(219, 219, 219, 0) 0,
    rgba(209, 209, 209, 0) 48%,
    #ebebeb 100%
  );
  background: -webkit-linear-gradient(
    to bottom ,
    rgba(219, 219, 219, 0) 0,
    rgba(209, 209, 209, 0) 48%,
    #ebebeb 100%
  );
  background: linear-gradient(
    to top,
    rgba(219, 219, 219, 0) 0,
    rgba(209, 209, 209, 0) 48%,
    #ebebeb 100%
  );
}

.content{
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background: #e8e8e8;
  box-shadow: inset 5px 5px 10px #dadada,
              inset -5px -5px 10px #f6f6f6;
}

.class-input-params{
  width: 40%;
  padding: 0.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2w;
  font-family: 'Ubuntu', sans-serif;
  padding-left: 1.5%;
  font-weight: 600;
  color: rgb(85, 85, 85);
  border: #f1d33b67 solid 2px;
  border-radius: 15px;
}

.data{
  padding: 1%;
}

input{
  background: none;
  border: none;
  font-family: 'Ubuntu', sans-serif;
  color: rgb(85, 85, 85);
  width: 85%;
  font-size: 2.3vh;
}

button{
  align-self: center;
  width: 20%;
  height: 90%;
  border: 0;
  font-weight: 600;
  font-size: 2.5vh;
  background: transparent;
  font-family: 'Ubuntu', sans-serif;
  color: #e9c71d;
  z-index: 200;
  border-radius: 10px;
  background: #e8e8e8;
  box-shadow:  5px 5px 10px #dadada,
               -5px -5px 10px #f6f6f6;
  transition: 5s;
}button:hover{
  border-radius: 10px;
  background: #e8e8e8;
  box-shadow: inset 6px 6px 12px #d1d1d1,
              inset -6px -6px 12px #ffffff;
}
