
.title{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 17vh;
  font-size: 1.2w;
  font-family: 'Ubuntu', sans-serif;
  padding-left: 1.5%;
  color: #3f51b5;
  background: #ebebeb;
}

.linha{
  height: 1%;
  width: 95%;
  background-color: #c7cadd;
}
