.card_usuario{
  width: 70vw;
  height: auto;
  padding-top: 2%;
}

.container{
  width: 100%;
  max-height: 50vh;

  display: flex;
  flex-direction: column;
  border-radius: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  justify-content: center;
  align-items: center;
  padding-bottom: 3vh;
  padding-top: 3vh;
  border-radius: 5px;
  background: #e8e8e8;
  box-shadow: inset 6px 6px 12px #bebebe,
              inset -6px -6px 12px #ffffff;
}

.n_usuario{
  display: flex;
  height: 8vh;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  color: #f1d33b;
  font-size: 2vw;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  border-radius: 5px;
  background: #e8e8e8;
  box-shadow:  6px 6px 12px #bebebe,
              -6px -6px 12px #ffffff;
  transition: 0.5s;

}
.n_usuario p{
  width: 80%;
}

table{
  width: 100%;
  padding: 2%;
}

thead{
  color: #3f5892;
  font-size: 1.5vw;
  text-align: center;
}

th{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}

td{
  text-align: center;
  padding: 0.5%;
  border: #b1b5cc solid 1px;
  font-size: 2.5vh;
}

.contorno{
  width: 90%;
  height: auto;
  background-color: #c7cadd;
  color: rgb(85, 85, 85);
  border-radius: 10px;
  transition: 0.5s;
  overflow-x: hidden;
}

li{
  list-style: none;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track{
  background: #c7cadd;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb {
  background-color: #3f5892;

}
