<section class="class class_top">
  <ul>
    <li *ngFor="let dado of dados">


      <div class="card_usuario">

        <div class="n_usuario">
          <p>{{dado.usuario}}</p>
          <div></div>
        </div>

        <div class="container">

          <div class="contorno">

            <table>

                <thead>
                  <tr>
                    <th scope="col">Módulo</th>
                    <th scope="col">Processo</th>
                    <th scope="col">Repetições</th>
                  </tr>
                </thead>


                <tbody>
                  <tr *ngFor="let linha of dado.registros">

                    <!-- <td>{{}}</td> -->
                    <td>{{linha.departamento}}</td>
                    <td>{{linha.tipo}}</td>
                    <td>{{linha.registros}}</td>
                    <!-- <td (input)="categoria($event)" *ngIf="verificacao" (ngStyle)="{color: getCor()}">{{linha.registros}}</td> -->

                  </tr>
                </tbody>

            </table>
          </div>


        </div>
      </div>

    </li>
  </ul>
</section>

<!-- <tbody>
  <tr *ngFor="let linha of dado.usuario">
      <td [innerHTML]="usuario.departamento"></td>
      <td [innerHTML]="dado.tipo"></td>
      <td [innerHTML]="dado.registros"></td>
  </tr>
</tbody> -->

