<form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
    <div class="form-group">

        <div class="container">
            <div class="conteudo">

              <div class="welcome">
                <h3>Bem Vindo!</h3><br>
              </div>

              <div class="input_login">
                <div class="txt"><div class="title">Usuário:</div></div>
                <div class="bloco">
                  <input type="text" id="usuario_login" formControlName="username">
                </div>


                <div class="txt"><div class="title">Senha:</div></div>
                <div class="bloco">
                  <input type="password" id="senha_login" formControlName="password">
                </div>
              </div>

              <div class="alert-danger" *ngIf="errorStatus">{{ errorMjs }}</div>

              <div class="btn">
                  <button type="submit">Acessar</button>
              </div>

            </div>
        </div>
    </div>
</form>
