.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteudo{
  /* border: 1px solid #e8e8e8; */
  height: 68%;
  width: 33%;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  background: #e8e8e8;
  box-shadow:  6px 6px 12px #d1d1d1,
               -6px -6px 12px #ffffff;
}

.welcome{
  font-family: 'Ubuntu', sans-serif;
  /* border-bottom: 1px solid #afa8a8; */
  height: 30%;
  /* width: 90%; */
  /* align-self: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4vh;
  color: #3f51b5;

}

.subtitle{
  border-top: #afa8a8 solid 1px;
  height: 15%;
  padding-top: 5%;
  font-size: 3vh;
  /* color: #3f51b5; */
}

.input_login{
  /* border: 1px solid red; */
  height: 43%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.txt{
  /* border: 1px solid orange; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  font-weight: 100;
  justify-content: center;
  width: 100%;
  height: 20%;
  align-items: end;
  color:rgb(80, 80, 80);
}

.title{
  width: 80%;
  font-size: 2.5vh;
}

input{
  width: 80%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #d6d6d6;
  background: transparent;


  border-radius: 50px;
  background: #e8e8e0;
  box-shadow: inset 7px 7px 14px #dadad3,
              inset -7px -7px 14px #f6f6ed;
}
input:hover{
  border: 0;
  /* border-bottom: 2px solid #f1cc0e; */
}

.bloco{
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  height: 18%;
}

.btn{
  /* border: 1px solid magenta; */
  height: 24%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: red solid 1px;     */
  transition: 5s;
}

button{
  width: 45%;
  height: 51%;
  font-weight: bolder;
  color:#f1cc0e;
  font-size: 2.5vh;
  border: 1px solid transparent;
  background: 0;
  transition: 0.3s;
  font-family: 'Ubuntu', sans-serif;

  border-radius: 30px;
  background: #e8e8e8;
  box-shadow:  6px 6px 12px #d1d1d1,
               -6px -6px 12px #ffffff;
}
button:hover{
  /* border: 2px solid #f1cc0e; */
  border-radius: 50px;
  background: #e8e8e0;
  box-shadow: inset 7px 7px 14px #ccccc5,
              inset -7px -7px 14px #fffffb;
}

.alert-danger{
  color: #ce1616;
  background-color: aquamarine;
  width: 100%;
  height: 5%;
  /* border-radius: 50px; */
  background: #e8e8e0;
  box-shadow: inset 7px 7px 14px #ccccc5,
              inset -7px -7px 14px #fffffb;
  display: flex;
  align-items: center;
  justify-content: center;
}
