<app-header></app-header>
<app-menu #menu></app-menu>

  <app-parameter #parameter></app-parameter>

  <app-card-list [dados]="parameter.dados" #cardList (ativarTabela)="parameter.ativarTabela"></app-card-list>
