*{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body{
  background-color: #ebebeb;
  /* background-image: linear-gradient(to top, #bcb9e2, rgb(232, 215, 236), #e8e8e8); */
  /* display: flex; */
  box-sizing: border-box;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}


@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;700;800&family=Righteous&family=Ubuntu:ital,wght@0,300;0,700;1,400&display=swap');

a{
  text-decoration: none;
  transition: 4s;
  color: #e0cb53;
}
a:hover{
  color: #e6c408;
}

.class{
  padding: 1%;
  float: right;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.class_top{
padding-top: 27vh;
}

.header_title{
  position: fixed;
  float: right;
  left: 20vw;
  height: 10vh;

  width: 80vw;
  z-index: 100;
}

.header_data{
  position: fixed;
  float: right;
  left: 20vw;
  top: 17vh;
  height: 10vh;
  width: 80vw;
  z-index: 100;
  /* border: 1px red solid; */
}

.header_menu{
  position: fixed;
  /* background-color: #3f51b5; */
  /* top: 10vh; */
  width: 15vw;
  height: 100vh;
  padding: 1vw;
  /* border: red solid 3px; */
}

::-webkit-scrollbar {
  width: 10px;
}

/* ::-webkit-scrollbar-track{
  background-color: #a7a4d1;
  border-radius: 10px;
} */

::-webkit-scrollbar-track{
  background: #e8ebe8eb;
  /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb {
  background-color: #f0da70;
  border-radius: 10px;
  /* border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
}
