<div class="header_menu">

  <div class="menu">

    <div class="container">
      <div class="h_usuario">
        <div class="circulo_usu"></div>

        <p>{{userName}}</p>
      </div>

      <hr>

      <div class="h_empresa">
        <p class="n_empresa">Portal de Progresso do Treinamento</p>
      </div>

      <hr>

      <div class="h_button">
          <button (click)="deslogar()">Sair</button>
      </div>
    </div>

  </div>

</div>
