
.menu{
  display: flex;
  height: 95vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #e8e8e8;
  box-shadow: inset 5px 5px 10px #c5c5c5,
              inset -5px -5px 10px #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  /* border: red solid 1px; */
}

hr{
  width: 90%;
  padding: 0;
  border: #d4d4d4 solid 0.01vw;
}

.h_usuario{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30%;
  width: 80%;
  font-family: 'Ubuntu', sans-serif;
  color: #3f51b5;
  font-size: 1.5vw;
  text-align: center;
}
.circulo_usu {
  float: left;
  width: 60%;
  height: 75%;
  shape-outside: circle();
  clip-path: circle();
  background: #ebc920;
}

.h_empresa{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 20%;
  width: 80%;
  font-family: Bahnschrift;
}
.n_empresa{
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  font-weight: 300;
  font-size: 1.2vw;
  color: rgb(85, 85, 85);
}

.h_button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5%;
  width: 60%;
  border-radius: 30px;
  background: #e8e8e8;
  box-shadow:  6px 6px 12px #d1d1d1,
               -6px -6px 12px #ffffff;
}
button{
  border: 0;
  font-weight: 600;
  font-size: 3.5vh;
  height: 100%;
  background: transparent;
  font-family: 'Ubuntu', sans-serif;
  color: #f1d33b;
}.h_button:hover{
  border-radius: 30px;
  background: #e8e8e8;
  box-shadow: inset 6px 6px 12px #d1d1d1,
              inset -6px -6px 12px #ffffff;
}
